@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  
  --primary: #2563EB;
  --primary-foreground: #ffffff;
  
  --secondary: #F3F4F6;
  --secondary-foreground: #111827;
  
  --muted: #9CA3AF;
  --muted-foreground: #4B5563;
  
  --accent: #E5E7EB;
  --accent-foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
